python-telegram-bot==21.4
python-telegram-bot[job-queue]==21.4
Flask==3.0.3
psycopg[binary]==3.2.2
audioop-lts>=0.2.2
requests==2.31.0
uvicorn==0.030.5
psycopg_pool==3.2.05
asgiref==3.8.1  # Use the latest version from PyPI
